html {
  background: #fff;
}
body {
  font: 12px 'lucida grande', tahoma, verdana, arial, sans-serif;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dcd57d), color-stop(1, #f0ebcc));
  background: -webkit-linear-gradient(top, #dcd57d 0%, #f0ebcc 100%);
  background: -moz-linear-gradient(top, #dcd57d 0%, #f0ebcc 100%);
  background: linear-gradient(top, #dcd57d 0%, #f0ebcc 100%);
  min-width: 760px;
  width: 100%;
  min-height: 100%;
  color: #333;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
h1 {
  font-size: 35px;
  color: #452a05;
}
h2 {
  font-size: 25px;
  color: #664415;
}
h3 {
  font-size: 20px;
  font-weight: normal;
  color: #385d8c;
}
h4 {
  font-size: 15px;
  color: #6d442a;
  font-weight: normal;
  font-style: italic;
}
a {
  color: #59ad4b;
}
a.define {
  color: #fff;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
  cursor: help;
}
dl {
  margin: 0 20px;
}
dt {
  font-weight: bold;
  color: #385d8c;
  font-size: 15px;
}
dd {
  font-style: italic;
  margin: 5px 0 15px 0;
}
#header {
  padding: 10px 10px 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #80573d), color-stop(1, #6d442a));
  background: -webkit-linear-gradient(bottom, #80573d 0%, #6d442a 100%);
  background: -moz-linear-gradient(bottom, #80573d 0%, #6d442a 100%);
  background: linear-gradient(bottom, #80573d 0%, #6d442a 100%);
  color: #fff;
}
#header h1 {
  color: #fff;
  width: 720px;
  margin: 0 auto;
}
#header #nav {
  width: 720px;
  margin: 0 auto;
  zoom: 1;
}
#header #nav:before,
#header #nav:after {
  content: "";
  display: table;
}
#header #nav:after {
  clear: both;
}
#header #nav ul {
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: right;
}
#header #nav li {
  display: inline-block;
  margin-right: 2px;
  padding: 5px;
  background-color: #6d442a;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
#header #nav li a {
  color: #ddd;
}
#header #nav #signed-in-as {
  display: inline-block;
  float: right;
}
body.index #header {
  padding: 10px;
}
#wrapper {
  position: relative;
  width: 720px;
  margin: 0 auto;
  padding: 0;
  background: #f0ebcc;
  border: 1px solid #333;
  border-top: none;
  overflow: auto;
}
#content {
  margin: 0 10px;
}
body.index #content {
  margin: 0;
}
body.index .buttons {
  text-align: center;
}
body.index #enter {
  padding: 10px 20px;
}
body.index #enter a {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  background: #80573d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cba892), color-stop(1, #80573d));
  background: -webkit-linear-gradient(top, #cba892 0%, #80573d 100%);
  background: -moz-linear-gradient(top, #cba892 0%, #80573d 100%);
  background: linear-gradient(top, #cba892 0%, #80573d 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #e0cbbe;
  -moz-box-shadow: inset 0 1px 1px 0 #e0cbbe;
  box-shadow: inset 0 1px 1px 0 #e0cbbe;
  border: 1px solid #80573d;
  line-height: 1;
  padding: 7px 10px 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #6d4a34;
  color: #fff;
  cursor: pointer;
  height: 33px;
  width: 200px;
  font-size: 30px;
}
body.index #enter a:hover,
body.index #enter a.hover {
#966647
  background: #966647;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cba892), color-stop(1, #966647));
  background: -webkit-linear-gradient(top, #cba892 0%, #966647 100%);
  background: -moz-linear-gradient(top, #cba892 0%, #966647 100%);
  background: linear-gradient(top, #cba892 0%, #966647 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #efe5de;
  -moz-box-shadow: inset 0 1px 1px 0 #efe5de;
  box-shadow: inset 0 1px 1px 0 #efe5de;
}
body.index #enter a:active,
body.index #enter a.active {
#664631
  background: #664631;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #664631), color-stop(1, #c59f86));
  background: -webkit-linear-gradient(top, #664631 0%, #c59f86 100%);
  background: -moz-linear-gradient(top, #664631 0%, #c59f86 100%);
  background: linear-gradient(top, #664631 0%, #c59f86 100%);
  -webkit-box-shadow: inset 0 -1px 1px 0 #d5b9a8;
  -moz-box-shadow: inset 0 -1px 1px 0 #d5b9a8;
  box-shadow: inset 0 -1px 1px 0 #d5b9a8;
}
body.index #enter a:hover,
body.index #enter a.hover {
  -webkit-box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff;
  -moz-box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff;
  box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff;
}
body.index #enter a:active,
body.index #enter a.active {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.60);
  -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.60);
  box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.60);
}
body.index #enter a:focus,
body.index #enter a.focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff, 0 0 3px 1px rgba(255,255,255,0.50);
  -moz-box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff, 0 0 3px 1px rgba(255,255,255,0.50);
  box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff, 0 0 3px 1px rgba(255,255,255,0.50);
}
.description {
  margin: 20px 60px;
  padding: 10px 20px;
}
.container {
  margin: 20px 0 10px;
  position: relative;
  border: 1px solid #452a05;
  background-color: #a1c98a;
  padding: 0 9px;
  float: left;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
body.lobby .play-controls {
  text-align: center;
}
body.lobby .play-controls #play-button {
  padding: 10px 20px;
}
body.lobby .play-controls #play-button a {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  background: #80573d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cba892), color-stop(1, #80573d));
  background: -webkit-linear-gradient(top, #cba892 0%, #80573d 100%);
  background: -moz-linear-gradient(top, #cba892 0%, #80573d 100%);
  background: linear-gradient(top, #cba892 0%, #80573d 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #e0cbbe;
  -moz-box-shadow: inset 0 1px 1px 0 #e0cbbe;
  box-shadow: inset 0 1px 1px 0 #e0cbbe;
  border: 1px solid #80573d;
  line-height: 1;
  padding: 7px 10px 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #6d4a34;
  color: #fff;
  cursor: pointer;
  height: 33px;
  width: 200px;
  font-size: 30px;
}
body.lobby .play-controls #play-button a:hover,
body.lobby .play-controls #play-button a.hover {
#966647
  background: #966647;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cba892), color-stop(1, #966647));
  background: -webkit-linear-gradient(top, #cba892 0%, #966647 100%);
  background: -moz-linear-gradient(top, #cba892 0%, #966647 100%);
  background: linear-gradient(top, #cba892 0%, #966647 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #efe5de;
  -moz-box-shadow: inset 0 1px 1px 0 #efe5de;
  box-shadow: inset 0 1px 1px 0 #efe5de;
}
body.lobby .play-controls #play-button a:active,
body.lobby .play-controls #play-button a.active {
#664631
  background: #664631;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #664631), color-stop(1, #c59f86));
  background: -webkit-linear-gradient(top, #664631 0%, #c59f86 100%);
  background: -moz-linear-gradient(top, #664631 0%, #c59f86 100%);
  background: linear-gradient(top, #664631 0%, #c59f86 100%);
  -webkit-box-shadow: inset 0 -1px 1px 0 #d5b9a8;
  -moz-box-shadow: inset 0 -1px 1px 0 #d5b9a8;
  box-shadow: inset 0 -1px 1px 0 #d5b9a8;
}
body.lobby .play-controls #play-button a:hover,
body.lobby .play-controls #play-button a.hover {
  -webkit-box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff;
  -moz-box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff;
  box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff;
}
body.lobby .play-controls #play-button a:active,
body.lobby .play-controls #play-button a.active {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.60);
  -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.60);
  box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.60);
}
body.lobby .play-controls #play-button a:focus,
body.lobby .play-controls #play-button a.focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff, 0 0 3px 1px rgba(255,255,255,0.50);
  -moz-box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff, 0 0 3px 1px rgba(255,255,255,0.50);
  box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.60), inset 0 -1px 0 0 #fff, 0 0 3px 1px rgba(255,255,255,0.50);
}
body.lobby .best-today,
body.lobby .best-alltime {
  width: 300px;
  margin: 10px 20px 0;
  float: left;
}
body.lobby .best-today table,
body.lobby .best-alltime table {
  width: 300px;
}
body.profile .summary {
  float: left;
  zoom: 1;
  margin: 30px 0 10px;
}
body.profile .summary:before,
body.profile .summary:after {
  content: "";
  display: table;
}
body.profile .summary:after {
  clear: both;
}
body.profile .summary .personal-info {
  float: left;
  width: 450px;
  height: 10px;
}
body.profile .summary .personal-info table th,
body.profile .summary .personal-info table td {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 3px;
}
body.profile .summary .personal-info table th {
  font-style: italic;
}
body.profile .summary .player-summary {
  float: left;
  width: 250px;
}
body.profile .summary .player-summary table {
  width: 100%;
}
body.profile .best-performance table,
body.profile .recent-performance table {
  width: 680px;
}
body.help h2 {
  margin: 20px 0 10px 0;
  border-bottom: 1px solid #664415;
}
body.game-history #game-summary {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
body.game-history .round {
  zoom: 1;
  overflow: scroll;
  height: 550px;
  width: 100%;
  position: relative;
}
body.game-history .round:before,
body.game-history .round:after {
  content: "";
  display: table;
}
body.game-history .round:after {
  clear: both;
}
body.game-history .round .container {
  width: 9000px;
  height: 400px;
  float: left;
}
body.game-history .round .sequence {
  margin: 10px 0;
  float: left;
}
body.game-history .round .sequence img {
  padding: 10px 17px 0;
}
body.game-history .round .guess {
  height: 30px;
  font-weight: bold;
  padding: 5px;
  margin: 0 17px;
}
body.game-history .round .wasmatch,
body.game-history .round .wascorrect {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  display: inline-block;
  overflow: hidden;
  text-indent: -99999ex;
}
body.game-history .round .matched {
  border: 1px solid #0c0;
  background: #efe;
}
body.game-history .round .matched .wasmatch {
  background: #0c0;
}
body.game-history .round .unmatched {
  border: 1px solid #c00;
  background: #fee;
}
body.game-history .round .unmatched .wasmatch {
  background: #c00;
}
body.game-history .round .correct .wascorrect {
  background: #0c0;
}
body.game-history .round .incorrect .wascorrect {
  background: #c00;
}
table {
  cellspacing: 0;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #5a3d2b;
  padding: 3px 5px;
}
th {
  background-color: #6d442a;
  color: #fff;
  text-align: right;
}
td {
  text-align: left;
  background-color: #dcd57d;
}
table.game-summary {
  margin: 10px 0;
}
table.game-summary td,
table.game-summary th {
  text-align: center;
}
.skip {
  background: #ffa;
  border: 1px solid #fc3;
}
.notice {
  background: #b9754a;
  border: 1px solid #4c301d;
}
