@import 'nib'
//see https://github.com/visionmedia/nib/tree/master/lib/nib

@import 'mymixins'


//FACEBOOK CANVAS WIDTH = 760px

html
	background #FFF
	
body
	font 12px 'lucida grande', tahoma, verdana, arial, sans-serif
	margin 0
	padding 0
	background linear-gradient(top, BEIGE, $softBeige)
	min-width 760px
	width 100%
	min-height 100%
	color BLACK

h1,h2,h3,h4
	padding 0
	margin 0
	font-weight bold
	
h1
	font-size 35px
	color ACCENT1_COLOR
h2
	font-size 25px
	color ACCENT2_COLOR
h3
	font-size 20px
	font-weight normal
	color ACCENT3_COLOR
h4
	font-size 15px
	color SECONDARY_COLOR
	font-weight normal
	font-style italic

a
	color ACCENT4_COLOR
	&.define
		color WHITE
		border-bottom 1px dashed WHITE
		text-decoration none
		cursor help

dl
	margin 0 20px
dt
	font-weight bold
	color ACCENT3_COLOR
	font-size 15px
dd
	font-style italic
	margin 5px 0 15px 0


#header
	padding 10px 10px 0
	background linear-gradient(bottom, PRIMARY_COLOR, SECONDARY_COLOR)
	color WHITE
	//border 1px solid darken(PRIMARY_COLOR, SHADOW_AMT)
	h1
		color WHITE
		width 720px
		margin 0 auto
	#nav
		width 720px
		margin 0 auto
		clearfix()
		ul
			font-weight bold
			padding 0
			margin 0
			display inline-block
			float right
		li
			display inline-block
			margin-right: 2px
			padding 5px
			background-color SECONDARY_COLOR
			top-rounded(4px)
			a
				color #DDD
		#signed-in-as
			display inline-block
			float right

body.index #header
	padding 10px

#wrapper
	position relative
	width 720px
	margin 0 auto
	padding 0
	background $softBeige
	border 1px solid BLACK
	border-top none
	overflow auto

#content
	margin 0 10px

body.index
	#content
		margin 0
	.buttons
		text-align center
	#enter
		padding 10px 20px
	#enter a
		default-button()
		height 33px
		width 200px
		font-size 30px


.description
	margin 20px 60px
	padding 10px 20px
	//border 1px solid SECONDARY_COLOR

.container
	margin 20px 0 10px
	position relative
	border 1px solid ACCENT1_COLOR
	background-color SAGE
	padding 0 9px
	float left
	clearfix()

		
body.lobby
	.play-controls
		text-align center
		#play-button
			padding 10px 20px
		#play-button a
			default-button()
			height 33px
			width 200px
			font-size 30px
	.best-today, .best-alltime
		width 300px
		margin 10px 20px 0
		float left
		table
			width 300px
		
body.profile
	.summary
		float left
		clearfix()
		margin 30px 0 10px
		.personal-info
			float left
			width 450px
			height 10px
			table th, table td
				background-color transparent
				color BLACK
				border none
				padding 3px
			table th
				font-style italic
		.player-summary
			float left
			width 250px
			table
				width 100%
	.best-performance table, .recent-performance table
		width 680px

body.help h2
	margin 20px 0 10px 0
	border-bottom 1px solid $cocoa
		


body.game-history
	#game-summary
		display block
		position relative
		top 0
		left 0
		width 100%
	.round
		clearfix()
		overflow scroll
		height 550px
		width 100%
		position relative
		.container
			width 9000px
			height 400px
			float left
		.sequence
			margin 10px 0
			float left
			img
				padding 10px 17px 0
		.guess
			height 30px
			font-weight bold
			padding 5px
			margin 0 17px
		.wasmatch, .wascorrect
			width 20px
			height 20px
			border 1px solid #FFF
			display inline-block
			overflow hidden
			text-indent -99999ex
		.matched
			border 1px solid #0C0
			background #EFE
			.wasmatch
				background #0C0
		.unmatched
			border 1px solid #C00
			background #FEE
			.wasmatch
				background #C00
		.correct
			.wascorrect
				background #0C0
		.incorrect
			.wascorrect
				background #C00
		
		
		
table
	cellspacing 0
	border-collapse collapse

td, th
	border 1px solid darken(PRIMARY_COLOR, SHADOW_AMT)
	padding 3px 5px
th
	background-color SECONDARY_COLOR
	color WHITE
	text-align right
td
	text-align left
	background-color BEIGE
table.game-summary
	margin 10px 0
	td, th
		text-align center



.skip
	background #FFA
	border 1px solid #FC3
	
.notice
	background lighten(SECONDARY_COLOR, HIGHLIGHT_AMT)
	border 1px solid darken(SECONDARY_COLOR, SHADOW_AMT)