.logo
	a(href='/searches'): img(src='/images/logo-large-centered.jpg', width='495x', height='204px', alt="Everybody's Google")

.description
	a(id="searchbox", href='/searches')

	p: a(href='/searches')
		img(src='/images/button-home-page.png', alt="What did others see?")