.logo
	img(src='/images/logo-large-centered.jpg', width='495x', height='204px', alt="Everybody's Google")

.description
	input(id="searchbox", type="text", size="41")

	p: a(href='/searches')
		img(src='/images/button-home-page.png', alt="What did others see?")