.description
	p.
		#{siteName} is blah blah blah
	form(action='/api/results', method='post')
		input(type="text", name="results")
		input(type="text", name="clientId")
		input(type="text", name="query")
		input(type="submit")